body {
    display:flex;
    height: 100vh;
    width: 100vw;
    margin:0;
    justify-content: center;
}
#containerGrid {
    display:flex;
    flex-direction: column;
    max-height: 100vh;
    max-width: 100vh;
    margin:5vh;
    flex:auto;

}

#containerGrid * {
    flex:auto;
}