body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
}

#containerGrid {
    margin: 5vh;
    display: flex;
    flex-direction: column;
    width: calc(90vh - var(--btn-height));
}

#containerGrid .row {
    flex: auto
}

.square {
    aspect-ratio: 1/1;
}